body {
    font-family: Arial;
    background-color: #f0f0f0;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}