*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background: rgb(204, 228, 255);
    padding: 1rem 1rem;
    width: 90%;             
    margin: 20px auto;      
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 45px;
    border-radius: 30px;
    display: block;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    position: relative; 
    transition: transform 0.3s;
}

nav ul li a:hover { 
    transform: translateY(-5px);
}

nav ul li a::after {
    content: "";
    position: absolute; 
    left: 10%; 
    bottom: 0;
    width: 0%; 
    height: 2px; 
    background: #ffffff;
    transition: 0.3s; 
}

nav ul li a:hover::after {
    width: 80%;
}

nav ul li a.active::after {
    width: 80%;
}

nav ul li a.btn-comanda {
    background-color: #7b8cff;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
}

